<% provide(:title, 'Contact') %>
  <section id="primary">
    <h3>General Info</h3>
      <p>Best way to contact me is via email or text.</p>
      <p>Please only use phone contact for urgent inquiries.  Otherwise, Twitter and email are the best way to reach me.</p>
  </section>
  <section id="secondary">
    <h3>Meow Cakes</h3>
      <ul class="contact-info">
        <li class="phone"><a href="tel:XXX-XXX-XXXX" target="_blank">XXX-XXX-XXXX</a></li>
        <li class="mail"><a href="mailto:robsoule3@gmail.com" target="_blank">robsoule3@gmail.com</a></li>
        <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=robsoule3" target="_blank">@robsoule3</a></li>
      </ul>
  </section>
