<!DOCTYPE html>
</html>
  <head>
    <meta charset="utf-8">
    <title>Rob Soule | Testalest</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
    <header>
      <a href="index.html" id="logo">
        <h1>Rob Soule</h1>
        <h2>Testing This Stuff Contact MEH</h2>
      </a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html" class="selected">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section id="primary">
        <h3>Meow Info</h3>
        <p>Meow <%= Time.now%></p>
      </section>
      <section id="secondary">
        <h3>Meow Cakes</h3>
          <ul class="contact-info">
            <li class="phone"><a href="tel:555-555-5555">555-555-5555</a></li>
            <li class="mail"><a href="mailto:robsoule3@gmail.com">robsoule3@gmail.com</a></li>
            <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=robsoule3">@robsoule3</a></li>
          </ul>
      </section>
      <footer>
        <a href="http://www.twitter.com/robsoule3">
          <img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon">
        </a>
        <a href="http://www.facebook.com/rob.soule.56">
          <img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon">
        </a>
        <p>&copy; 2014 Rob Soule.</p>
      </footer>
    </div>
  </body>
</html>
