<head>
  <meta charset="utf-8">
  <title>Rob Soule | Testalest</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h2>Duck Banana's Are On THE WAY AAAAAAHHH!</h2>
<p>
Meow <%= Time.now %>
</p>
