<% provide(:title, 'Posts') %>

<div id="content"></div>

<%# THIS WORKS BUT TRYING GLOMBBALL
<%# <%= react_component('PostsList',
                    { initialPosts: @posts },
                    { prerender: params[:noprerender].nil? ? true : false }) %>
