// ****************************
// GENERAL
// ****************************

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  border-radius: 0em 0em 2em 2em;
  float: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 1% 5%;
  width: 90%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

// ****************************
// NAV_HEADER
// ****************************

#nav_header {
  border-radius: 2em 2em 0em 0em;
  float: center;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 5px 0 0 0;
  width: 90%;
}

#logo {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  margin: 15px 0;
}

h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: -5px 0 0;
}

// ****************************
// NAVIGATION
// ****************************

nav {
  margin: 20px 0 0;
  padding: 10px 0;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

// ****************************
// PAGE_FOOTER
// ****************************

#page_footer {
  clear: both;
  color: #ccc;
  font-size: 0.75em;
  padding-top: 50px;
  text-align: center;
}

.social-icon {
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

// ****************************
// STATIC_PAGE => HOME
// ****************************



// ****************************
// STATIC_PAGE => CONTACT
// ****************************

.contact-info {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info a {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: block;
  margin: 0 0 10px;
  min-height: 20px;
  padding: 0 0 0 30px;
}

.contact-info li.phone a {
  background-image: asset-url('phone.png');
}

.contact-info li.mail a {
  background-image: asset-url('mail.png');
}

.contact-info li.twitter a {
  background-image: asset-url('twitter.png');
}

// ****************************
// COLORS
// ****************************

// color variables


$color1: #EEE6AB; //Cream ish
$color2: #C5BC8E; //Tan ish
$color3: #696758; //Brown-Gray
$color4: #46484B; //Dark Blueslatish-Gray
$color5: #36393B; //Dark Gray

//  site body
body {
  background-color: $color5;
  color: $color1;
}

#wrapper {
  background-color: $color4;
}

//  header
header {
  background: $color3;
  border-color: $color5;
}

/* nav background */
nav {
  background: $color2;
}

// logo text
h1, h2 {
  color: $color5;
}

//  links
a {
  color: $color2;
}

//  color for nav link
nav a, nav a:visited {
  color: $color5;
}

//  selected nav link
nav a.selected, nav a:hover {
  color: $color3;
}
