<footer id="page_footer">
  <%= link_to image_tag("twitter.png", alt: "Twitter Logo"),
                          'http://www.twitter.com/robsoule3' %>
  <%= link_to image_tag("facebook.png", alt: "Facebook Logo"),
                          'http://www.facebook.com/robsoule86' %>
  <p>&copy; 2014 Rob Soule</p>
</footer>
