<header id="nav_header">
    <%= link_to(root_path, id: "logo") do %>
      <h1>RSo3<h1>
      <h2>By Rob Soule</h2>
    <% end %>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_index_path %><li>
      </ul>
    </nav>
</header>

